@media screen and (max-width: 700px) {
  .content {
    display:flex;
    flex-direction: column;
  }

  #addUser {
    width:70%;
  }

  #addUserButton {
    width:25%;
  }

  .Form input {
    width:100%;
  }
}